
#right-2{
    /* padding-right: 5%; */
    max-width: 40%; 
    border: solid;
    color: black;
    border-radius: 10px; 
    margin-top: 10%; 
    /* margin-right: 2% ; */
}
img {
    width: 600px;
    height: 600px; 
    /* clip-path: path('M 200 100 C 150 50, 50 50, 10 200 S 150 350, 200 300 S 350 350, 300 200 S 350 50, 200 100'); */
    object-fit: contain; /* Ensures the image covers the entire shape */
    margin-top: 10%;
    margin-left: 2%;
    
    
}
#main2{
overflow: hidden;
gap: 0;
}
