<app-adminnav></app-adminnav>
<div class="view-feedback">
      <h1>Cooking Classes</h1>
      <div class="underline"></div>
      <div class="search-container">
            <input type="text" id="search" name="search" placeholder="Search by Class Name" [(ngModel)]="searchTerm"
                  (ngModelChange)="searchClasses()" (input)="searchClasses()">
      </div>
      <table *ngIf="paginatedClasses.length > 0; else noRecords" class="table-content">
            <thead>
                  <tr>
                        <th>S.No</th>
                        <th>Class Name</th>
                        <th>Cuisine Type</th>
                        <th>Chef Name</th>
                        <th>Location</th>
                        <th>Duration (Hours)</th>
                        <th>Fee</th>
                        <th>Skill Level</th>
                        <th>Actions</th>
                  </tr>
            </thead>
            <tbody>
                  <tr *ngFor="let class of paginatedClasses; let i = index">
                        <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                        <td>{{ class.ClassName }}</td>
                        <td>{{ class.CuisineType }}</td>
                        <td>{{ class.ChefName }}</td>
                        <td>{{ class.Location }}</td>
                        <td>{{ class.DurationInHours }}</td>
                        <td>{{ class.Fee }}</td>
                        <td>{{ class.SkillLevel }}</td>
                        <td>
                              <div class="button-container">
                                    <button (click)="editClass(class.CookingClassId)" class="btn-edit">Edit</button>
                                    <button (click)="confirmDelete(class.CookingClassId)"
                                          class="btn-delete">Delete</button>
                              </div>
                        </td>
                  </tr>
            </tbody>
      </table>
 
      <div class="pagination-controls" *ngIf="filteredClasses.length > itemsPerPage">
            <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
            <span>Page {{ currentPage }} of {{ getTotalPages() }}</span>
            <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= filteredClasses.length">Next</button>
      </div>
      <ng-template #noRecords>
            <div class="no-records">
                  Oops! No records found.
            </div>
      </ng-template>
 
      <div *ngIf="showDeleteModal" class="modal">
            <div class="modal-content">
                  <span class="close" (click)="closeDeleteModal()">&times;</span>
                  <p>Are you sure you want to delete this class?</p>
                  <button (click)="deleteClass()" class="btn-confirm-delete">Yes, Delete</button>
                  <button (click)="closeDeleteModal()" class="btn-cancel">Cancel</button>
            </div>
      </div>
 
      <div *ngIf="showErrorModal" class="modal">
            <div class="modal-content">
                  <span class="close" (click)="closeErrorModal()">&times;</span>
                  <p>{{ errorMessage }}</p>
                  <button (click)="closeErrorModal()" class="btn-cancel">Close</button>
            </div>
      </div>
</div>
 