.view-feedback {
  border: 2px solid #d4d4aa;
  border-radius: 15px;
  padding: 20px;
  background: linear-gradient(135deg, #fffef0, #d4e2d4);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.view-feedback h1 {
  color: #5d5c61;
  font-family: 'Georgia', serif;
  font-weight: bold;
}

.underline {
  width: 60%;
  height: 3px;
  background-color: #6b8e23;
  margin: 0 auto 20px;
  border-radius: 5px;
}

.search-input {
  border-radius: 20px;
  border: 1px solid #6b8e23;
  padding: 10px 15px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  border-color: #6b8e23;
  box-shadow: 0 0 8px rgba(107, 142, 35, 0.5);
}

.custom-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #f7f6f3;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #d4d4aa;
}

.custom-table th {
  background-color: #6b8e23;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.custom-table tr:nth-child(even) {
  background-color: #e9f5db;
}

.custom-table td {
  font-size: 13px;
}

.button-container .btn {
  border-radius: 12px ;
  margin: 0 5px;
  font-size: 12px;
  padding: 5px 10px;
}


.modal-content {
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-body {
  font-size: 14px;
}

