<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container">

    <a class="navbar-brand" routerLink="/home" >
      <img src="/assets/images/Logo1.png" alt="Cooking Hub Logo" class="rounded-circle logo">
      <span class=""><strong>Cooking Hub</strong>  <br> <span class="">Hello, {{ Username }}! Welcome back!</span> </span>
    </a>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item ml-1 ">
          <!-- <span class="">Hello, {{ Username }}! Welcome back!</span> -->
        </li>
        <!-- <li class="nav-item mx-2">
          <a routerLink="/home" class="nav-link">Home</a>
        </li> -->
        <li class="nav-item mx-2 dropdown">
          <select class="form-select" name="s1" id="s1" [(ngModel)]="toggleSelect" (ngModelChange)="onSelectChange($event)">
            <option value="default" selected>Cooking Class</option>
            <option value="add">Add Class</option>
            <option value="view">View Class</option>
          </select>
        </li>        
        <li class="nav-item mx-2">
          <a routerLink="/adminviewappliedrequest" class="nav-link">Class Requested</a>
        </li>
        <li class="nav-item mx-2">
          <a routerLink="/adminviewfeedback" class="nav-link">Feedbacks</a>
        </li>
        <li class="nav-item mx-2">
          <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="showLogoutModal" class="modal fade show d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Logout Confirmation</h5>
        <button type="button" class="btn-close" (click)="cancelLogout()"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to log out?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="confirmLogout()">Yes, Logout</button>
       <button class="btn btn-secondary" (click)="cancelLogout()">Cancel</button>
      </div>
    </div>
  </div>
</div>



 