<nav class="navbar">
    <div class="navbar-header">
    <span class="navbar-brand">
    <img class="logo" src="../../../assets/images/CookingHubNav1.jpg" />
    <p class="brand-logo">Cooking Hub</p>
    </span>
    </div>
    <ul class="nav-links">
    <li class="admin-info"><span>Hello, {{ Username }}! Welcome back to your dashboard.</span></li>
    <li><a routerLink="/home">Home</a></li>
    <li class="dropdown" (click)="toggleDropdown($event)">
    <a class="dropdown-toggle" href="#">Cooking Class<i class="fas fa-chevron-down arrow-icon"></i></a>
    <ul class="dropdown-menu">
    <li><a routerLink="/adminaddclass">Add Class</a></li>
    <li><a routerLink="/adminviewclass">View Class</a></li>
    </ul>
    </li>
    <li><a routerLink="/adminviewappliedrequest">Class Requested</a></li>
    <li><a routerLink="/adminviewfeedback">Feedbacks</a></li>
    <li><button class="logout-button" (click)="logout()">Logout</button></li>
    </ul>
    </nav>
    <div *ngIf="showLogoutModal" class="modal">
    <div class="modal-content">
    <p>Are you sure you want to log out?</p>
    <button class="yes-logout-button" (click)="confirmLogout()">Yes, Logout</button>
    <button (click)="cancelLogout()">Cancel</button>
    </div>
    </div>