<nav class="navbar">
    <div class="navbar-header">
      <span class="navbar-brand">
        <img class="logo" src="../../../assets/images/CookingHubNav1.jpg" alt="Cooking Hub Logo" />
        <p class="brand-logo">Cooking Hub</p>
      </span>
    </div>
    <div class="navbar-links-container">
      <ul class="navbar-links">
        <li><span class="demo-user-label">Hello, {{ Username }}! Welcome back to your dashboard.</span></li>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/cooking-imp']">Importance of Cooking</a></li>
        <li><a [routerLink]="['/userviewclass']">Cooking Classes</a></li>
        <li><a [routerLink]="['/userviewappliedrequest']">Applied Classes</a></li>
        <li class="dropdown">
          <span class="dropbtn">Feedback</span>
          <div class="dropdown-content">
            <a [routerLink]="['/useraddfeedback']">Post Feedback</a>
            <a [routerLink]="['/userviewfeedback']">My Feedbacks</a>
          </div>
        </li>
        <li>
          <button class="logout-button" (click)="logout()">Logout</button>
        </li>
      </ul>
      <div class="navbar-user-info">
        <span>{{user.Username}}</span>
        <span>{{user.UserRole}}</span>
      </div>
    </div>
  </nav>
  <div *ngIf="showLogoutModal" class="modal">
    <div class="modal-content">
      <p>Are you sure you want to log out?</p>
      <button class="yes-logout-button" (click)="confirmLogout()">Yes, Logout</button>
      <button (click)="cancelLogout()">Cancel</button>
    </div>
  </div>
  <ng-template #noRecords>
    <div class="no-records">
      Oops! No records Found
    </div>
  </ng-template>


