<div class="container " style="max-width: 50%; margin-top: 10%; ">
  <div class="card border border-dark">
    <div class="card-body">
      <h2 class="text-center mb-4">Add Feedback</h2>
      <form #feedbackForm="ngForm" (ngSubmit)="onSubmit(feedbackForm)" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="feedbackText" class="form-label">Feedback <span class="text-danger">*</span></label>
          <textarea id="feedbackText" [(ngModel)]="feedback.FeedbackText" name="feedbackText" required class="form-control"></textarea>
          <div *ngIf="feedbackForm.submitted && !feedback.FeedbackText" class="text-danger mt-1">
            Feedback is required.
          </div>
        </div>
        <button type="submit" class="btn btn-outline-secondary w-100">Submit</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="showPopup" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Successfully Added!</p>
        <button class="btn btn-primary" (click)="closePopup()">Ok</button>
      </div>
    </div>
  </div>
</div> 
