
#right-2{
    /* padding-right: 5%; */
<<<<<<< HEAD
    max-width: 50%; 
=======
    max-width: 40%; 
>>>>>>> e7139b0ee7f2973207a95c07c4bb65e0ebeb4350
    border: solid;
    color: black;
    border-radius: 10px; 
    margin-top: 7%; 
    /* margin-right: 2% ; */
}
img {
<<<<<<< HEAD
    /* width: 400px;
    height: 400px; */
    /* clip-path: path('M 200 100 C 150 50, 50 50, 10 200 S 150 350, 200 300 S 350 350, 300 200 S 350 50, 200 100'); */
    object-fit: cover; /* Ensures the image covers the entire shape */
=======
     width: 600px;
    height: 600px; 
    /* clip-path: path('M 200 100 C 150 50, 50 50, 10 200 S 150 350, 200 300 S 350 350, 300 200 S 350 50, 200 100'); */
    object-fit: contain; /* Ensures the image covers the entire shape */
>>>>>>> e7139b0ee7f2973207a95c07c4bb65e0ebeb4350
    margin-top: 7%;
    margin-left: 2%;
    
}
img-left{
    padding: 0;
    margin-top: 7%;
<<<<<<< HEAD

}
=======
    overflow: hidden;


}
>>>>>>> e7139b0ee7f2973207a95c07c4bb65e0ebeb4350
