<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- <app-navbar></app-navbar> -->
  <div class="register-background">
  <div class="registration-container">
    <h1>Registration</h1>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <div class="form-group">
        <label for="username">Username: <span class="required">*</span></label>
        <input
          id="username"
          type="text"
          name="username"
          [(ngModel)]="username"
          #usernameField="ngModel"
          required
          minlength="3"
          maxlength="20"
          pattern="^[a-zA-Z][a-zA-Z\s]*$"
          placeholder="Enter your username"
        />
        <div *ngIf="usernameField.invalid && usernameField.touched" class="error">
          <div *ngIf="usernameField.errors?.required">Username is required.</div>
          <div *ngIf="usernameField.errors?.minlength">Username must be at least 3 characters long.</div>
          <div *ngIf="usernameField.errors?.maxlength">Username cannot be more than 20 characters long.</div>
          <div *ngIf="usernameField.errors?.pattern">Username can only contain letters.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email: <span class="required">*</span></label>
        <input
          id="email"
          type="email"
          name="email"
          [(ngModel)]="email"
          #emailField="ngModel"
          required
          email
          placeholder="Enter your email"
        />
        <div *ngIf="emailField.invalid && emailField.touched" class="error">
          <div *ngIf="emailField.errors?.required">Email is required.</div>
          <div *ngIf="emailField.errors?.email">Please enter a valid email address.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password: <span class="required">*</span></label>
        <div class="password-container">
          <input
            [type]="passwordFieldType"
            id="password"
            name="password"
            [(ngModel)]="password"
            #passwordField="ngModel"
            required
            minlength="6"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]+$" 
            placeholder="Enter your password"
          />
          <i class="fa fa1" [ngClass]="passwordFieldType === 'password' ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('password')"></i>
        </div>
        <div *ngIf="passwordField.invalid && passwordField.touched" class="error">
          <div *ngIf="passwordField.errors?.required">Password is required.</div>
          <div *ngIf="passwordField.errors?.minlength">Password must be at least 6 characters long.</div>
          <div *ngIf="passwordField.errors?.pattern">Password must contain a combination of letters and numbers.</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="confirmPassword">Confirm Password: <span class="required">*</span></label>
        <div class="password-container">
          <input
            [type]="confirmPasswordFieldType"
            id="confirmPassword"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            #confirmPasswordField="ngModel"
            required
            placeholder="Confirm your password"
          />
          <i class="fa fa1" [ngClass]="confirmPasswordFieldType === 'password' ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility('confirmPassword')"></i>
        </div>
        <div *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched" class="error">
          <div *ngIf="confirmPasswordField.errors?.required">Confirm Password is required.</div>
          <div *ngIf="password !== confirmPassword && confirmPasswordField.touched">Passwords do not match.</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="mobileNumber">Mobile Number: <span class="required">*</span></label>
        <input
          id="mobileNumber"
          type="text"
          name="mobileNumber"
          [(ngModel)]="mobileNumber"
          #mobileNumberField="ngModel"
          required
          pattern="^\d{10}$"
          placeholder="Enter your mobile number"
        />
        <div *ngIf="mobileNumberField.invalid && mobileNumberField.touched" class="error">
          <div *ngIf="mobileNumberField.errors?.required">Mobile number is required.</div>
          <div *ngIf="mobileNumberField.errors?.pattern">Please enter a valid 10-digit mobile number.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="role">Role: <span class="required">*</span></label>
        <select
          id="role"
          name="role"
          [(ngModel)]="userRole"
          #roleField="ngModel"
          required
          placeholder="Select your role"
        >
          <option value="">Select a role</option>
          <option value="User">User</option>
          <option value="Admin">Admin</option>
        </select>
        <div *ngIf="roleField.invalid && roleField.touched" class="error">
          <div *ngIf="roleField.errors?.required">Role is required.</div>
        </div>
      </div>
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login Here</a></p>
  </div>
</div>

