<app-navbar ></app-navbar>
<div class="register-background container" style="max-width: 50%;">

  <div class="registration-container ">
    <h1 class="text-center mb-4">Registration</h1>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm" class="row g-3 needs-validation" novalidate>
      <div class="col-md-6">
        <label for="username" class="form-label">Username: <span class="required">*</span></label>
        <input id="username" type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required
          minlength="3" maxlength="20" pattern="^[a-zA-Z][a-zA-Z\s]*$" placeholder="Enter your username" class="form-control" />
        <div *ngIf="usernameField.invalid && usernameField.touched" class="text-danger">
          <div *ngIf="usernameField.errors?.required">Username is required.</div>
          <div *ngIf="usernameField.errors?.minlength">Username must be at least 3 characters long.</div>
          <div *ngIf="usernameField.errors?.maxlength">Username cannot be more than 20 characters long.</div>
          <div *ngIf="usernameField.errors?.pattern">Username can only contain letters.</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email: <span class="required">*</span></label>
        <input id="email" type="email" name="email" [(ngModel)]="email" #emailField="ngModel" required email
          placeholder="Enter your email" class="form-control" />
        <div *ngIf="emailField.invalid && emailField.touched" class="text-danger">
          <div *ngIf="emailField.errors?.required">Email is required.</div>
          <div *ngIf="emailField.errors?.email">Please enter a valid email address.</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Password: <span class="required">*</span></label>
        <div class="input-group has-validation">
          <input [type]="passwordFieldType" id="password" name="password" [(ngModel)]="password"
            #passwordField="ngModel" required minlength="6"
            pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]+$" placeholder="Enter your password" class="form-control" />
          <span class="input-group-text" (click)="togglePasswordVisibility('password')">
            <i class="fa" [ngClass]="passwordFieldType === 'password' ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
        </div>
        <div *ngIf="passwordField.invalid && passwordField.touched" class="text-danger mt-1">
          <div *ngIf="passwordField.errors?.required">Password is required.</div>
          <div *ngIf="passwordField.errors?.minlength">Password must be at least 6 characters long.</div>
          <div *ngIf="passwordField.errors?.pattern">Password must contain a combination of letters and numbers.</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="confirmPassword" class="form-label">Confirm Password: <span class="required">*</span></label>
        <div class="input-group has-validation">
          <input [type]="confirmPasswordFieldType" id="confirmPassword" name="confirmPassword"
            [(ngModel)]="confirmPassword" #confirmPasswordField="ngModel" required
            placeholder="Confirm your password" class="form-control" />
          <span class="input-group-text" (click)="togglePasswordVisibility('confirmPassword')">
            <i class="fa" [ngClass]="confirmPasswordFieldType === 'password' ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
        </div>
        <div *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched" class="text-danger mt-1">
          <div *ngIf="confirmPasswordField.errors?.required">Confirm Password is required.</div>
          <div *ngIf="password !== confirmPassword && confirmPasswordField.touched">Passwords do not match.</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="mobileNumber" class="form-label">Mobile Number: <span class="required">*</span></label>
        <input id="mobileNumber" type="text" name="mobileNumber" [(ngModel)]="mobileNumber" #mobileNumberField="ngModel"
          required pattern="^\d{10}$" placeholder="Enter your mobile number" class="form-control" />
        <div *ngIf="mobileNumberField.invalid && mobileNumberField.touched" class="text-danger">
          <div *ngIf="mobileNumberField.errors?.required">Mobile number is required.</div>
          <div *ngIf="mobileNumberField.errors?.pattern">Please enter a valid 10-digit mobile number.</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="role" class="form-label">Role: <span class="required">*</span></label>
        <select id="role" name="role" [(ngModel)]="userRole" #roleField="ngModel" required
          placeholder="Select your role" class="form-select">
          <option value="">Select a role</option>
          <option value="User">User</option>
          <option value="Admin">Admin</option>
        </select>
        <div *ngIf="roleField.invalid && roleField.touched" class="text-danger">
          <div *ngIf="roleField.errors?.required">Role is required.</div>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary w-50 justify-content-center">Register</button>
      </div>
    </form>
    <p class="text-center mt-3">Already have an account? <a href="/login">Login Here</a></p>
  </div>
</div>
